body{
    color: white;
    background-image: url("img/bg.jpg");
    background-repeat: no-repeat;
    font-family: 'Staatliches', cursive

}
h1{
    font-family: 'Pacifico', cursive;
    border: solid 1px white;
    background-color: #FF5958;
}
div {
    color: black;
    border: 1px solid black;
    margin-top: 50px;
    margin-bottom: 100px;
    margin-right: 100px;
    margin-left: 650px;
    width: 250px;
    height: 100px
    background-color: #c3c3c3;
  }
  canvas{
      border: 1px solid #c3c3c3
  }
